html {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}
body {
    margin: 0;
    background-image: url(img/Parquet-bois.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color{
    background-color: #EA4D4C;
}
.dotSelectedPlayer1 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #EA4D4C;
    vertical-align: middle;
    margin-left: 0.5em;
}
.dotSelectedPlayer2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #EA4D4C;
    vertical-align: middle;
    margin-left: 0.5em;
}
.totalScoreNumber {
    color: #EA4D4C;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
.wallpapperDiv {
    background-color: #fff;
    width: 90%;
    height: 90%;
}
.divided {
    position: fixed;
    background-color: lightgray;
    left: 5%;
    width: 45%;
    height: 90%;
    z-index: 1;
}
button {
    background-color: transparent;
    border: unset;
}
.ico {
    vertical-align: middle;
    margin-right: 10px;
}
.fontPlayers {
    font-size: 2.5rem;
}
.currentPlayer1Div {
    width: 200px;
    height: 150px;
    text-align: center;
    display: inline-block;
}
.currentPlayer2Div {
    width: 200px;
    height: 150px;
    text-align: center;
    display: inline-block;
}
.currentScoreNumber1 {
    color: #fff;
    font-size: 2.5em;
    margin: 0;
}
.currentScoreNumber2 {
    color: #fff;
    font-size: 2.5em;
    margin: 0;
}
.buttonFont {
    font-size: 2rem;
}

/*Display position*/
.buttonNewGameDiv {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    margin-bottom: 5%;
    position: relative;
    z-index: 1;
}
.players {
    display: flex;
    justify-content: space-around;
    margin: 0 auto 10%;
    width: 75%;
    position: relative;
    z-index: 1;
}
.allDice {
    margin: auto 0;
}
.buttonRollDiceDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.buttonHoldDiv {
    display: flex;
    justify-content: center;
}
.footer {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20%;
    position: relative;
    z-index: 1;
}
.buttonRollDiceDiv {
    margin-bottom: 30%;
}

/*Dice générator*/
.dice {  
    padding: 4px;  
    background-color: #fff;  
    width: 80px;  
    height: 80px;  
    border-radius: 10%;
    box-shadow: 0px 0px 10px black;
}
.dot {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.first-face {
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-face{
    display: none ;
    justify-content: space-between;
  }
  
  .second-face .dot:nth-of-type(2) {
    align-self: flex-end;
  }
  
  .third-face {
    display: none;
    justify-content: space-between;
  }
  
  .third-face .dot:nth-of-type(1) {
    align-self :flex-end;
  }
  
  .third-face .dot:nth-of-type(2) {
    align-self :center;
  }
  
  
  .fourth-face{
    display: none;
    justify-content: space-between;
  }

  .sixth-face, .fifth-face{
    display: none;
    justify-content: space-between;
  }

  .fifth-face{
    display: none;
    justify-content: space-between;
  }
  
  .fourth-face .column , .sixth-face .column, .fifth-face .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fifth-face .column:nth-of-type(2) {
    justify-content: center;
  }
 